.input-area{
    min-height: 100%;
    padding-top: 3rem;
}
.input-area form{
    display: flex;
    flex-direction: column;
}

.input-area label{
    font-size: 1.3rem;
    font-weight: 600;
}

.input{
    box-sizing: border-box;
    height: 1.9rem;
    padding: 0.2rem;
    font-size: 1rem;
    margin: 0.3rem 0 1rem;
    border: 0.15rem solid #BDCDD6;
    border-radius: 0.2rem;
}
.input:focus{
    background-color: #BDCDD6;
    border: 0.15rem solid #404c53;
    outline: none;
}

.submit-button{
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    width: 5rem;
    height: 2rem;
    background: #93BFCF;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}