.input-area {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.input-area .input-layout {
  width: 100%;
  padding: 2.5rem 4rem 3rem;
}
.input-layout .input-heading {
  font-size: 3rem;
  font-weight: 600;
  color: var(--dark);
}
.input-layout .input-description {
  padding-left: 0.2rem;
  font-size: 1rem;
  color: var(--bluish-gray);
}

.input-layout form {
  padding: 1.5rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.input-layout .form-group {
  display: flex;
  flex-direction: column;
}

.input-layout label,
.input-layout .label {
  color: var(--bluish-gray);
  font-size: 1.05rem;
  font-weight: 600;
}
.input-layout .input {
  max-width: 35rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--steel-blue);
  padding: 0.2rem;
  font-size: 1.2rem;
}
.input:focus {
  border-bottom: 2px solid var(--bluish-dark-gray);
  outline: none;
}

.encryption-type {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1.2rem;
}
.encryption-type label {
  margin-left: 0.2rem;
  font-weight: 500;
}

.submit-button {
  margin-top: 1rem;
  align-self: center;
  font-family: "Outfit", sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem 0.7rem;
  background: var(--dark);
  color: var(--lightest);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.submit-button:hover {
  background: var(--bluish-gray);
}

@media screen and (max-width: 750px) {
  .input-area {
    overflow-y: visible;
    padding: 1rem 1.5rem;
  }
  .input-layout .input-heading {
    font-size: 2.5rem;
  }
  .input-layout form {
    padding: 1.5rem 1rem 1rem;
  }
  .input-area .input-layout {
    padding: 0 0rem 0rem;
  }
}
