main{
    display: grid;
    grid-template-columns: auto auto auto;
    border-bottom: 1.5px solid var(--border-color);
}

@media screen and (max-width: 450px){
    main{
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }
}

ion-icon{
    pointer-events: none;
}