.app {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  border-bottom: 1.5px solid var(--border-color);
}

/* 782 */
@media screen and (max-width: 750px) {
  main {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
}

ion-icon {
  pointer-events: none;
}
