.app {
  max-height: 100vh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  height: calc(100vh - 3rem);
  height: calc(100dvh - 3rem);
  display: flex;
}

/* 750px */
@media screen and (max-width: 750px) {
  main {
    max-height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
}
